@import 'Assets/style/_function.scss';

.head {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(233, 233, 233, 0.2);
  z-index: 1000;

  header {
    color: $colorTextBlue;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
  }

  .drop-box {
    position: absolute;
    right: 30px;
    top: 50px;
  }

  .icon {
    display: flex;
    align-items: center;

    .mine {
      width: 18px;
      height: 18px;
    }

    .arrow {
      width: 6px;
      height: 6px;
      margin: 0 6px;
    }
  }
}
