@import 'Assets/style/_function.scss';

.base-ques {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, 30px);
  grid-auto-flow: column dense;
  gap: 15px 10%;
  margin: 12px 0;

  .name,
  .major,
  .email {
    border-radius: 5px;
    border: solid 1px rgba(118, 183, 250, 0.5);
  }

  .ant-select-selection {
    border: solid 1px rgba(118, 183, 250, 0.5);
    // background-color: transparent;
  }

  .upload-box {
    grid-row: 1/5;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .upload-picture {
      width: inherit;
      height: 128px;
      margin-bottom: 10px;
      border: solid 1px rgba(118, 183, 250, 0.5);
      border-radius: 5px;

      span {
        line-height: 128px;
        font-size: 1.2rem;
      }
    }

    .upload-resume {
      width: inherit;
      height: 28px;
      border-radius: 5px;
      border: solid 1px $colorPrimary;

      span {
        line-height: 28px;
        font-size: 1.2rem;
        font-weight: bold;
        color: $colorTextBlue;
      }
    }
  }

  .email {
    grid-column: 1/3;
  }
}
