$fontFamily: 'Microsoft Yahei', 'Arial', sans-serif !default;

// 公共颜色
$colorPrimary: #76b7fa !default;
$colorBgTrans1: rgba(118, 183, 250, 0.3);
$colorBgTrans2: rgba(118, 183, 250, 0.05);
$colorWarnBgTrans1: rgba(255, 111, 0, 0.3);
$colorWarnBgTrans2: rgba(255, 111, 0, 0.05);
$colorText: #585858 !default;
$colorTextLight: #707070 !default;
$colorTextBlue: #76b7fa !default;
$colorTextWarn: #fc6345 !default;
$colorBtn: #76b7fa !default;
$colorTips: #a9a9a9 !default;
$colorBg: #f7f8f9 !default;
$colorCorrect: #76b7fa !default;
$colorWarn: #fc6345 !default;
